body{
    background-color: lightslategray;
    margin: 0px;
}
#skyheader{
    background-color:rgb(33, 107, 153);
    height: 7vh;
    align-items: center;
    padding: 10px;
    position: absolute;
    position: fixed;
    width: 2080px;
    height: 35px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#miniicon{
    position: relative;
    top: -4px;
}

#subtitle{
    font-family: "consolas";
    text-shadow: 0px 3px 0px rgb(12, 49, 71);
}
#informations{
    font-family: "consolas";
}
#fontdiv1{
    font-family: "consolas";
    font-size: 20px;
}



h2{
    color:aliceblue
}
h1{
    color:aliceblue
}
span{
    color:aliceblue
}

#login{
    font-family: "consolas";
    font-size: 30px;
    color:aliceblue;
    position: relative;
    top: 100px;
}

#loginform{
    align-items: center;
    position: relative;
    top: 100px;
}

#divstep{
    border: 2px solid rgb(5, 14, 65);
    background-color: rgb(33, 107, 153);
    width: 100px;
    height: 279px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "consolas";
    position: relative;
    top: -60px;
}

#divprincipal{
    background-image: url(z_simplebackground.png);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#creat{
    font-family: "consolas";
}

footer{
    color:aliceblue;
    background-color:rgb(11, 49, 73);
    height: 25vh;
    padding: 10px;
}